<div class="rounded-lg bg-white p-4 flex flex-col justify-center max-w-96 mr-auto ml-auto relative">
  <div class="text-content flex flex-col justify-center text-center mt-4 mb-4">
    <h1 class="text-4xl font-bold text-color-dark mb-4">خوش آمدید</h1>
    <p class="text-gray-500 text-sm font-semibold">برای ادامه به حساب کاربری خود وارد شوید</p>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="submit()" class="space-y-5 mt-4 mb-6">
    <div class="flex flex-col gap-1">
      <tui-textfield tuiTextfieldSize="l">
        <label tuiLabel>آدرس ایمیل خود را وارد کنید</label>
        <input
          tuiTextfield
          formControlName="email"
          placeholder="johndoe@gmail.com"
          type="email"
          class="!rounded-full"
        />
      </tui-textfield>
      <span
        *ngIf="f.email.touched && f.email.errors?.['required']"
        class="text-red-500 text-xs px-2"
      >
        وارد کردن ایمیل الزامی است
      </span>
      <span *ngIf="f.email.touched && f.email.errors?.['email']" class="text-red-500 text-xs px-2">
        فرمت ایمیل صحیح نیست
      </span>
    </div>

    <div class="flex flex-col gap-1">
      <tui-textfield tuiTextfieldSize="l">
        <label tuiLabel>پسورد خود را وارد نمایید</label>
        <input
          tuiTextfield
          formControlName="password"
          placeholder="*************"
          type="password"
          class="!rounded-full"
        />
      </tui-textfield>

      <span
        *ngIf="f.password.touched && f.password.errors?.['minlength']"
        class="text-red-500 text-xs px-2"
      >
        رمز عبور باید حداقل ۸ کاراکتر باشد
      </span>
    </div>

    <a class="text-gray-500 text-sm font-medium mt-2 block mr-2">گذرواژه خود را فراموش کرده اید؟</a>

    <button
      tuiButton
      type="submit"
      size="l"
      class="w-full mt-6 !rounded-full !bg-color-dark text-gray-100"
    >
      ورود به حساب
    </button>
  </form>
</div>
<p class="absolute bottom-4 right-4 font-medium text-gray-400 text-md">
  حساب کاربری ندارید؟
  <a
    [routerLink]="['/signup']"
    class="text-gray-600 hover:text-gray-600 cursor-pointer transition-colors"
  >
    یک حساب کاربری بسازید
  </a>
</p>
