<div class="card flex items-center h-[110px] bg-white rounded-xl overflow-hidden gap-4">
  <div class="image h-full rounded-xl overflow-hidden flex relative w-[50%]">
    <img src="/images/uni.png" alt="" class="h-full w-auto object-cover rounded-xl" />
  </div>
  <div class="content w-full flex flex-col">
    <h3 class="text-sm font-bold text-color-dark mb-2">دانشگاه پلی تکنیک میلان</h3>
    <p class="text-gray-400">واقع در میلان ايتالیا</p>
    <div class="h-[1px] bg-gray-200 w-3/4 my-2"></div>

    <div class="actions flex items-center justify-between pl-3">
      <span class="px-2 py-1 text-xs bg-color-orange text-white rounded-full">برترین ها</span>
      <button class="bg-color-gold text-white p-1 rounded-full text-xs">
        <tui-icon icon="@tui.eye" />
      </button>
    </div>
  </div>
</div>
