<div class="card flex items-center h-[110px] bg-white rounded-xl overflow-hidden gap-4">
  <div class="image h-full rounded-xl overflow-hidden flex relative w-[50%]">
    <img [src]="image()" [alt]="name()" class="h-full w-auto object-cover rounded-xl" />

    <div
      class="absolute bottom-[1px] left-3 bg-white rounded-tr-xl rounded-bl-xl flex items-center px-2 py-1 gap-1"
    >
      <tui-icon
        icon="@tui.star"
        class="text-color-gold text-[14px] transform -translate-y-[1.5px]"
      />
      <span class="text-color-gold text-xs">{{ rating() }}</span>
    </div>
  </div>
  <div class="content w-full flex flex-col">
    <h3 class="text-sm font-bold text-color-dark mb-2">{{ name() }}</h3>
    <p class="text-gray-400 line-clamp-1">{{ description() }}</p>
    <div class="h-[1px] bg-gray-200 w-3/4 my-2"></div>

    <div class="actions flex items-center justify-between pl-3">
      <span class="px-2 py-1 text-xs bg-color-orange text-white rounded-full">برترین ها</span>
      @if (destination() === 'university') {
        <button
          class="bg-color-gold text-white p-1 rounded-full text-xs"
          [routerLink]="['/university', id()]"
        >
          <tui-icon icon="@tui.eye" />
        </button>
      }
      @if (destination() === 'agency') {
        <button
          class="bg-color-gold text-white p-1 rounded-full text-xs"
          [routerLink]="['/agency', id()]"
        >
          <tui-icon icon="@tui.eye" />
        </button>
      }
    </div>
  </div>
</div>
