<div class="px-4 pb-28">
  <div dir="ltr" class="mb-4">
    <tui-carousel class="country-carousel" [draggable]="true" [itemsCount]="4" [(index)]="index">
      <ng-container *ngFor="let item of items; let i = index">
        <button
          *tuiItem
          type="button"
          class="country-pill"
          [class.active]="item.code === selectedCode"
          (click)="select(item.code)"
        >
          <img *ngIf="item.flag" [src]="item.flag" alt="{{ item.name }} flag" class="flag-icon" />
          <span class="country-name">{{ item.name }}</span>
        </button>
      </ng-container>
    </tui-carousel>
  </div>

  <div class="grid grid-cols-1 gap-5 px-2 items-start xs:grid-cols-2">
    @for (uni of filteredUniversities; track uni._id) {
      <div class="h-full">
        <app-vertical-card
          [name]="uni.name"
          [image]="createImagePath(uni.logoUrl)"
          [rating]="uni.rating"
          [description]="uni.description"
          [destination]="'university'"
          [id]="uni._id"
        ></app-vertical-card>
      </div>
    } @empty {
      <div class="col-span-2 text-center text-gray-500 py-10">هیچ دانشگاهی یافت نشد.</div>
    }
  </div>
</div>
