<div class="rounded-lg bg-white p-4 flex flex-col justify-center max-w-96 mr-auto ml-auto relative">
  <a
    routerLink="/profile"
    class="flex items-center text-sm font-bold text-gray-500 hover:text-gray-900 transition-colors no-underline absolute -top-10 right-0"
  >
    <tui-icon icon="@tui.chevron-right"></tui-icon>
    <span>بازگشت</span>
  </a>

  <div class="w-20 rounded-full relative mx-auto mb-4 mt-4" (click)="showDialog()">
    @if (user.profileImage === '') {
      <img src="/images/01.jpg" class="w-full rounded-full" alt="" />
    } @else {
      <img [src]="createImagePath(user.profileImage)" class="w-full rounded-full" alt="" />
    }
    <span
      class="absolute bottom-0 right-1 bg-color-gold border border-color-gold shadow-md rounded-full w-5 h-5 flex items-center justify-center cursor-pointer"
    >
      <tui-icon icon="@tui.pencil" class="!h-3 !w-3 text-white"></tui-icon>
    </span>
  </div>

  <form [formGroup]="editForm" (ngSubmit)="submit()" class="space-y-5 mt-4 mb-6">
    <div class="flex flex-col gap-1">
      <tui-textfield tuiTextfieldSize="l">
        <label tuiLabel>رمز عبور فعلی</label>
        <input
          tuiTextfield
          formControlName="passwordCurrent"
          placeholder="*************"
          type="password"
          class="!rounded-full"
        />
      </tui-textfield>
      <span
        *ngIf="f.passwordCurrent.touched && f.passwordCurrent.errors?.['required']"
        class="text-red-500 text-xs px-2"
      >
        رمز عبور فعلی الزامی است
      </span>
      <span
        *ngIf="f.passwordCurrent.touched && f.passwordCurrent.errors?.['minlength']"
        class="text-red-500 text-xs px-2"
      >
        رمز عبور باید حداقل ۸ کاراکتر باشد
      </span>
    </div>

    <div class="flex flex-col gap-1">
      <tui-textfield tuiTextfieldSize="l">
        <label tuiLabel>پسورد خود را وارد نمایید</label>
        <input
          tuiTextfield
          formControlName="password"
          placeholder="*************"
          type="password"
          class="!rounded-full"
        />
      </tui-textfield>
      <span
        *ngIf="f.password.touched && f.password.errors?.['required']"
        class="text-red-500 text-xs px-2"
      >
        رمز عبور الزامی است
      </span>
      <span
        *ngIf="f.password.touched && f.password.errors?.['minlength']"
        class="text-red-500 text-xs px-2"
      >
        رمز عبور باید حداقل ۸ کاراکتر باشد
      </span>
    </div>

    <div class="flex flex-col gap-1">
      <tui-textfield tuiTextfieldSize="l">
        <label tuiLabel>پسورد خود را مجددا وارد نمایید</label>
        <input
          tuiTextfield
          formControlName="passwordConfirm"
          placeholder="*************"
          type="password"
          class="!rounded-full"
        />
      </tui-textfield>
      <span
        *ngIf="f.passwordConfirm.touched && f.passwordConfirm.errors?.['required']"
        class="text-red-500 text-xs px-2"
      >
        تکرار رمز عبور الزامی است
      </span>
      <span
        *ngIf="editForm.errors?.['notMatching'] && f.passwordConfirm.touched"
        class="text-red-500 text-xs px-2"
      >
        رمز عبور و تکرار آن مطابقت ندارند
      </span>
    </div>

    <button
      tuiButton
      type="submit"
      size="l"
      class="w-full mt-6 !rounded-full !bg-color-dark text-gray-100"
    >
      ذخیره تغییرات
    </button>
  </form>
</div>

<ng-template
  let-observer
  [tuiDialogOptions]="{ label: 'تغییر تصویر نمایه', size: 's' }"
  [(tuiDialog)]="open"
>
  <form (ngSubmit)="onImgSubmit(observer)" class="pt-4">
    <label
      *ngIf="!control.value"
      tuiInputFiles
      class="flex flex-col items-center justify-center w-full h-32 border-2 border-dashed rounded-xl cursor-pointer transition-all duration-200 bg-[#efede6] border-[#a4a6b4] hover:border-[#fe8f72] hover:bg-opacity-80 gap-2"
    >
      <input accept="image/*" tuiInputFiles [formControl]="control" class="hidden" />

      <tui-icon icon="@tui.file-up" class="text-4xl text-[#d7bb7b]"></tui-icon>

      <div class="text-sm text-[#1d1a15]">
        <span class="font-bold text-[#fe8f72]">کلیک کنید</span> یا فایل را اینجا رها کنید
      </div>
    </label>

    <tui-files class="tui-space_top-1 !mt-4">
      <tui-file
        *ngIf="
          control.value
            | tuiFileRejected: { accept: 'image/*', maxFileSize: 52428800 }
            | async as file
        "
        state="error"
        [file]="file"
        (remove)="removeFile()"
      />

      <tui-file *ngIf="loadedFiles$ | async as file" [file]="file" (remove)="removeFile()" />

      <tui-file
        *ngIf="failedFiles$ | async as file"
        state="error"
        [file]="file"
        (remove)="removeFile()"
      />

      <tui-file
        *ngIf="loadingFiles$ | async as file"
        state="loading"
        [file]="file"
        (remove)="removeFile()"
      />
    </tui-files>

    <div class="flex items-center gap-3 mt-8">
      <button
        tuiButton
        type="submit"
        size="l"
        class="flex-1 !rounded-full !bg-[#1d1a15] !text-[#efede6] hover:!bg-opacity-90"
      >
        ذخیره تغییرات
      </button>

      <button
        tuiButton
        type="button"
        size="l"
        appearance="flat"
        class="flex-1 !rounded-full !bg-[#efede6] !text-[#1d1a15] hover:!bg-[#b6b6b4]"
        (click)="closeDialog()"
      >
        لغو
      </button>
    </div>
  </form>
</ng-template>
