<div class="rounded-lg bg-white p-4 flex flex-col justify-center max-w-96 mr-auto ml-auto relative">
  <a
    routerLink="/profile"
    class="flex items-center text-sm font-bold text-gray-500 hover:text-gray-900 transition-colors no-underline absolute -top-10 right-0"
  >
    <tui-icon icon="@tui.chevron-right"></tui-icon>
    <span>بازگشت</span>
  </a>

  <div class="w-20 rounded-full relative mx-auto mb-4 mt-4">
    <img src="/images/01.jpg" class="w-full" alt="" />
    <span
      class="absolute bottom-0 right-1 bg-color-gold border border-color-gold shadow-md rounded-full w-5 h-5 flex items-center justify-center cursor-pointer"
    >
      <tui-icon icon="@tui.pencil" class="!h-3 !w-3 text-white"></tui-icon>
    </span>
  </div>

  <form [formGroup]="editForm" (ngSubmit)="submit()" class="space-y-5 mt-4 mb-6">
    <div class="flex flex-col gap-1">
      <tui-textfield tuiTextfieldSize="l">
        <label tuiLabel>آدرس ایمیل خود را وارد کنید</label>
        <input
          tuiTextfield
          formControlName="email"
          placeholder="johndoe@gmail.com"
          type="email"
          class="!rounded-full"
        />
      </tui-textfield>
      <span
        *ngIf="f.email.touched && f.email.errors?.['required']"
        class="text-red-500 text-xs px-2"
      >
        وارد کردن ایمیل الزامی است
      </span>
      <span *ngIf="f.email.touched && f.email.errors?.['email']" class="text-red-500 text-xs px-2">
        فرمت ایمیل صحیح نیست
      </span>
    </div>

    <div class="flex flex-col gap-1">
      <tui-textfield tuiTextfieldSize="l" class="text-right" dir="rtl">
        <label tuiLabel>شماره تماس خود را وارد کنید</label>
        <input
          tuiInputPhone
          formControlName="phone"
          mask="+98 ### ### ####"
          dir="ltr"
          style="text-align: left"
          placeholder="+98 912 345 6789"
          class="!rounded-full"
        />
      </tui-textfield>
      <span
        *ngIf="f.phone.touched && f.phone.errors?.['required']"
        class="text-red-500 text-xs px-2"
      >
        شماره تماس الزامی است
      </span>
      <span
        *ngIf="f.phone.touched && f.phone.errors?.['minlength']"
        class="text-red-500 text-xs px-2"
      >
        شماره تماس کامل نیست
      </span>
    </div>

    <div class="flex flex-col gap-1">
      <tui-textfield tuiTextfieldSize="l">
        <label tuiLabel>پسورد خود را وارد نمایید</label>
        <input
          tuiTextfield
          formControlName="password"
          placeholder="*************"
          type="password"
          class="!rounded-full"
        />
      </tui-textfield>
      <span
        *ngIf="f.password.touched && f.password.errors?.['required']"
        class="text-red-500 text-xs px-2"
      >
        رمز عبور الزامی است
      </span>
      <span
        *ngIf="f.password.touched && f.password.errors?.['minlength']"
        class="text-red-500 text-xs px-2"
      >
        رمز عبور باید حداقل ۸ کاراکتر باشد
      </span>
    </div>

    <div class="flex flex-col gap-1">
      <tui-textfield tuiTextfieldSize="l">
        <label tuiLabel>پسورد خود را مجددا وارد نمایید</label>
        <input
          tuiTextfield
          formControlName="confirmPassword"
          placeholder="*************"
          type="password"
          class="!rounded-full"
        />
      </tui-textfield>
      <span
        *ngIf="f.confirmPassword.touched && f.confirmPassword.errors?.['required']"
        class="text-red-500 text-xs px-2"
      >
        تکرار رمز عبور الزامی است
      </span>
      <span
        *ngIf="editForm.errors?.['notMatching'] && f.confirmPassword.touched"
        class="text-red-500 text-xs px-2"
      >
        رمز عبور و تکرار آن مطابقت ندارند
      </span>
    </div>

    <button
      tuiButton
      type="submit"
      size="l"
      class="w-full mt-6 !rounded-full !bg-color-dark text-gray-100"
    >
      ذخیره تغییرات
    </button>
  </form>
</div>
